{
  "env": {
    "development": {
      "presets": ["react", "es2016", "es2017", "stage-0"]
    },
    "test": {
      "presets": ["react", "es2016", "es2017", "stage-0"],
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
