@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  line-height: 100%;
}