# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:8.12.0

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/

    steps:
      - checkout
      - run: npm install
      - run: npm run lint
      # run the tests on the original source to get coverage info
      - run: npm test
      - run: npm run coveralls
      # test the final bundled builds
      - run: npm run build
      - run: npm run test-builds
      # test with older react versions
      # TODO: the lib works with older React versions but some tests
      # rely on newer React features
      # - run: npm i react@15 react-dom@15 --no-save
      # - run: npm run test-builds
